#Credit to Chris Johnsen URL: https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!/build

/build/*
!/build/outputs

/build/outputs/*
!/build/outputs/apk
